[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
natsort = "*"
jinja2 = "*"
markdown = "*"
python-frontmatter = "*"

[dev-packages]

[requires]
python_version = "3.10"
